.reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}
.reveal table {
  border: none;
  background: lightgrey;
}
.reveal table td {
  color: black;
  border-bottom: 0px;
  border: 1px solid black;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: lightsteelblue;
  font-family: 'Big Shoulders Display', cursive;
  text-transform: none;
}
